<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildHash</key>
	<string>def2978458d1937683b429ce06ca58904bed37567dc211c499dddc7862d7a45c</string>
	<key>CFBundleIdentifier</key>
	<string>software.micropixels.BatFi.Helper</string>
	<key>CFBundleVersion</key>
	<string>1.0.90</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "software.micropixels.BatFi" and info[CFBundleVersion] &gt;= "1.0.0" and certificate leaf[subject.OU] = "YL78V8PY6H"</string>
	</array>
</dict>
</plist>
