.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Installer/URL.swift
BatFiKit/Sources/ClientsLive/AnalyticsDSN.swift
