<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>software.micropixels.BatFi.Helper</key>
		<string>anchor apple generic and identifier "software.micropixels.BatFi.Helper" and certificate leaf[subject.OU] = "YL78V8PY6H"</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://files.micropixels.software/batfi/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>kb63WcBPA2hll6VY/V31gGu0R+nA0L1RImoFKBJY9bA=</string>
</dict>
</plist>
