//
//  Config.xcconfig
//  BatFi
//
//  Created by Adam on 14/04/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_IDENTIFIER = software.micropixels.BatFi
HELPER_TOOL_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER).Helper

APP_VERSION = 2.3.0

BUILD_NUMBER = 99999

HELPER_NAME = BatFiHelper
